# CRIAR PATHS E TABELA SUBCATEGORIA

In [1]:
import pandas as pd
import os
import glob
import csv

from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

path = 'C:\\Users\\luizjr\\REPOS\\data_sus\\data_csv\\'
path_cid10 = 'C:\\Users\\luizjr\\REPOS\\data_sus\\'


df = pd.read_csv(path+'RDRJ2301.csv', delimiter=';', encoding='latin1')

cid10 = pd.read_csv(path_cid10+'cid10_tabela_capitulos.csv', delimiter=';', encoding='utf-8')    
cid10_detailed = pd.read_csv(path_cid10+'CID-10-SUBCATEGORIAS.csv', delimiter=';', encoding='utf-8')

C:\Users\luizjr\AppData\Local\Temp\ipykernel_5644\4232018924.py:16: DtypeWarning: Columns (36,87,88,93,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path+'RDRJ2301.csv', delimiter=';', encoding='latin1')

# CONCATENAR ARQUIVOS CSV

In [62]:
dataframes_2012 = []
dataframes_2022 = []

datas_2012 = ['2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01', '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01', '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01']
datas_2022 = ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01']

datas_2012 = [i[2:4]+i[5:7]+'.csv' for i in datas_2012]
datas_2022 = [i[2:4]+i[5:7]+'.csv' for i in datas_2022]

for i in datas_2012:
    filename = path+'RDRJ'+i
    dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
    dataframes_2012.append(dados)

dados_2012 = pd.concat(dataframes_2012)
dados_2012.to_csv('201201_201309.csv', index=False)


for i in datas_2022:
    filename = path+'RDRJ'+i
    dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
    dataframes_2022.append(dados)

dados_2022 = pd.concat(dataframes_2022)
dados_2022.to_csv('202201_202309.csv', index=False)

C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (87,88,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (77,87,88,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (87,88,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (77,87,88,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (87,88,89,90,93) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (87,88,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (87,88,89,90,93) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (61,77,87,88,89,90,93) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (77,87,88,89,90,93) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (87,88,89,90,93) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (77,87,88,89,90,93) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (77,87,88,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:12: DtypeWarning: Columns (77,87,88,89,90,93) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (87,88,89,90,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (87,88,89,90,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (87,88,89,90,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (87,88,89,90,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (87,88,89,90,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,91,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (87,88,93,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (87,88,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,89,90,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')

C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,89,90,93,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (36,87,88,89,90,93,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_7920\2347414558.py:21: DtypeWarning: Columns (87,88,89,90,93,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  dados = pd.read_csv(filename, delimiter=';', encoding='latin-1')

# Função de Tratamento

In [2]:
def tratamento(dados):
    
    dados['diag_princ'] = [i for i in dados['DIAG_PRINC']]
    dados['DIAG_PRINC'] = [i[:3] for i in dados['DIAG_PRINC']]
    
    dados = pd.merge(dados, cid10_detailed, left_on='diag_princ', right_on='SUBCAT', how='left')
    dados = pd.merge(dados, cid10, left_on='DIAG_PRINC', right_on='codigo', how='left')

    dados['SEXO'] = dados['SEXO'].apply(lambda x: 'Masculino' if x == 1 else ('Feminino' if x == 2 else ('Feminino' if x == 3 else 'erro')))

    return dados
    
# df_final = merge_detailed[['SEXO','IDADE', 'diag_princ', 'DESCRICAO', 'VAL_TOT', 'VAL_SH', 'VAL_SP', 'MORTE']]
# test_detailed = test_detailed[test_detailed['diag_princ'].str[0] == 'B']
# test_detailed = test_detailed[test_detailed['diag_princ'].str[1] == '1']
# test_detailed = test_detailed[test_detailed['diag_princ'].str[2] == '6']

# test_detailed

# Ler arquivo concatenado (todos os dados)

In [17]:
path_arquivo_completo = 'C:\\Users\\luizjr\\REPOS\\data_sus\\'

df_2012 = pd.read_csv(path_arquivo_completo+'201201_201309.csv', delimiter=',', encoding='latin1')
df_2022 = pd.read_csv(path_arquivo_completo+'202201_202309.csv', delimiter=',', encoding='latin1')

df_2012

C:\Users\luizjr\AppData\Local\Temp\ipykernel_5644\3974988120.py:3: DtypeWarning: Columns (61,77,87,88,89,90,93) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2012 = pd.read_csv(path_arquivo_completo+'1201_1309.csv', delimiter=',', encoding='latin1')
C:\Users\luizjr\AppData\Local\Temp\ipykernel_5644\3974988120.py:4: DtypeWarning: Columns (36,87,88,89,90,91,93,96,97,98,99,100,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv(path_arquivo_completo+'2201_2309.csv', delimiter=',', encoding='latin1')

          UF_ZI  ANO_CMPT  MES_CMPT  ESPEC      CGC_HOSP          N_AIH  IDENT       CEP  MUNIC_RES      NASC  SEXO  UTI_MES_IN  UTI_MES_AN  UTI_MES_AL  UTI_MES_TO  MARCA_UTI  UTI_INT_IN  UTI_INT_AN  UTI_INT_AL  UTI_INT_TO  DIAR_ACOM  QT_DIARIAS  PROC_SOLIC   PROC_REA   VAL_SH  VAL_SP  VAL_SADT  VAL_RN  VAL_ACOMP  VAL_ORTP  VAL_SANGUE  VAL_SADTSR  VAL_TRANSP  VAL_OBSANG  VAL_PED1AC  VAL_TOT  VAL_UTI   US_TOT  DT_INTER  DT_SAIDA DIAG_PRINC DIAG_SECUN  COBRANCA  NATUREZA  NAT_JUR  GESTAO  RUBRICA  IND_VDRL  MUNIC_MOV  COD_IDADE  IDADE  DIAS_PERM  MORTE  NACIONAL  NUM_PROC  CAR_INT  TOT_PT_SP  CPF_AUT  HOMONIMO  NUM_FILHOS  INSTRU CID_NOTIF  CONTRACEP1  CONTRACEP2  GESTRISCO  INSC_PN  SEQ_AIH5  CBOR  CNAER  VINCPREV  GESTOR_COD  GESTOR_TP  GESTOR_CPF  GESTOR_DT     CNES     CNPJ_MANT  INFEHOSP CID_ASSO CID_MORTE  COMPLEX  FINANC  FAEC_TP  REGCT  RACA_COR  ETNIA  SEQUENCIA                REMESSA AUD_JUST SIS_JUST VAL_SH_FED VAL_SP_FED  VAL_SH_GES  VAL_SP_GES VAL_UCI  MARCA_UCI
0        330000      2012         1      3           NaN  3312100536272      1  24744680     330490  19320704     3           0           0           0           0          0           0           0           0           0          6           7   303150050  303150050   268,38   38,42         0       0          0         0           0           0           0           0           0    306,8        0   180,47  20120104  20120110       N390        NaN        31        40      NaN       2        0         0     330490          4     79          6      0        10       NaN        2          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN  2298031  4.249872e+13       NaN      NaN       NaN        2       6      NaN      0         2      0       1676  HE33000001N201201.DTS      NaN      NaN          0          0           0           0     NaN        NaN
1        330000      2012         1      3           NaN  3312100770946      1  24744680     330490  19510101     3           0           0           0           0          0           0           0           0           0          8           8   303040092  303040092    707,8   57,94         0       0          0         0           0           0           0           0           0   765,74        0   450,43  20120112  20120120       S068       Y339        12        40      NaN       2        0         0     330490          4     61          8      0        10       NaN        2          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN  2298031  4.249872e+13       NaN      NaN       NaN        2       6      NaN      0         3      0       1824  HE33000001N201201.DTS      NaN      NaN          0          0           0           0     NaN        NaN
2        330000      2012         1      3           NaN  3312100770980      1  24744680     330490  19910526     1           0           0           0           0          0           0           0           0           0          0           1   303040084  303040084   349,96   76,32         0       0          0         0           0           0           0           0           0   426,28        0   250,75  20120123  20120124       S068       Y339        15        40      NaN       2        0         0     330490          4     20          1      0        10       NaN        2          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN  2298031  4.249872e+13       NaN      NaN       NaN        2       6      NaN      0         2      0       1827  HE33000001N201201.DTS      NaN      NaN          0          0           0           0     NaN        NaN
3        330000      2012         1      3           NaN  3312100771012      1  26020030     330350  19150101     3           0           0           0           0          0           0           0           0           0          2           2   301060088  301060088    49,34   10,88         0       0          0         0           0           0           0           0           0    60,22        0    35,42  20120107  20120108       A419        NaN        41        40      NaN       2        0         0     330490          4     97          1      1        10       NaN        2          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN  2298031  4.249872e+13       NaN      NaN      A419        2       6      NaN      0        99      0       1828  HE33000001N201201.DTS      NaN      NaN          0          0           0           0     NaN        NaN
4        330000      2012         1      3           NaN  3312100771034      1  24425720     330490  19620602     1           0           0           0           0          0           0           0           0           0          0           1   301060088  301060088    33,34   10,88         0       0          0         0           0           0           0           0           0    44,22        0    26,01  20120106  20120106       A419        NaN        41        40      NaN       2        0         0     330490          4     49          0      1        10       NaN        2          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN  2298031  4.249872e+13       NaN      NaN      A419        2       6      NaN      0         3      0       1829  HE33000001N201201.DTS      NaN      NaN          0          0           0           0     NaN        NaN
...         ...       ...       ...    ...           ...            ...    ...       ...        ...       ...   ...         ...         ...         ...         ...        ...         ...         ...         ...         ...        ...         ...         ...        ...      ...     ...       ...     ...        ...       ...         ...         ...         ...         ...         ...      ...      ...      ...       ...       ...        ...        ...       ...       ...      ...     ...      ...       ...        ...        ...    ...        ...    ...       ...       ...      ...        ...      ...       ...         ...     ...       ...         ...         ...        ...      ...       ...   ...    ...       ...         ...        ...         ...        ...      ...           ...       ...      ...       ...      ...     ...      ...    ...       ...    ...        ...                    ...      ...      ...        ...        ...         ...         ...     ...        ...
1197909  330630      2013         9      1  3.272699e+12  3313105230534      1  27288350     330630  19640410     1           0           0           0           0          0           0           0           0           0          0           1   401020070  401020070   120,83   55,29         0       0          0         0           0           0           0           0           0   176,12        0    80,05  20130915  20130916       L720        NaN        12        50   1031.0       1        0         0     330630          4     49          1      0        10       NaN        1          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN    25143           NaN       NaN      NaN       NaN        2       6      NaN      0        99      0       2050  HM33063001N201309.DTS      NaN      NaN          0          0           0           0       0        0.0
1197910  330630      2013         9      1  3.272699e+12  3313105230545      1  27267270     330630  19360924     1           0           0           0           0          0           0           0           0           0          1           1   404010121  404010121   166,52  200,06         0       0          0         0           0           0           0           0           0   366,58        0   166,62  20130909  20130910       D110        NaN        12        50   1031.0       1        0         0     330630          4     76          1      0        10       NaN        1          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN    25143           NaN       NaN      NaN       NaN        2       6      NaN      0         1      0       2051  HM33063001N201309.DTS      NaN      NaN          0          0           0           0       0        0.0
1197911  330630      2013         9      1  3.272699e+12  3313105230556      1  27211300     330630  19870101     1           0           0           0           0          0           0           0           0           0          0           1   415020034  415020034   400,41  178,09         0       0          0         0           0           0           0           0           0    578,5        0   262,95  20130902  20130903       K620       K603        15        50   1031.0       1        0         0     330630          4     26          1      0        10       NaN        1          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN    25143           NaN       NaN      NaN       NaN        2       6      NaN      0        99      0       2052  HM33063001N201309.DTS      NaN      NaN          0          0           0           0       0        0.0
1197912  330630      2013         9      1  3.272699e+12  3313105230567      1  27275690     330630  19390304     3           0           0           0           6         75           0           0           0           0          2           2   415020034  415020034  4455,42  846,55         0       0          0         0           0           0           0           0           0  5301,97  2872,32  2409,98  20130904  20130912       K572        NaN        12        50   1031.0       1        0         0     330630          4     74          8      0        10       NaN        2          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN    25143           NaN       NaN      NaN       NaN        2       6      NaN      0        99      0       2053  HM33063001N201309.DTS      NaN      NaN          0          0           0           0       0        0.0
1197913  330630      2013         9      1  3.272699e+12  3313105230578      1  27274010     330630  19620106     1           0           0           0           0          0           0           0           0           0          0           1   415010012  415010012   567,74  283,43         0       0          0         0           0           0           0           0           0   851,17        0   386,89  20130910  20130911       K412        NaN        12        50   1031.0       1        0         0     330630          4     51          1      0        10       NaN        1          0      NaN         0           0       0       NaN           0           0          1        0         0     0      0         0           0          0           0        NaN    25143           NaN       NaN      NaN       NaN        2       6      NaN      0         1      0       2054  HM33063001N201309.DTS      NaN      NaN          0          0           0           0       0        0.0

[1197914 rows x 95 columns]

# Rodar função e salvar o csv

In [18]:
df_2012 = tratamento(df_2012)
df_2022 = tratamento(df_2022)


df_2012.to_csv('201201_201309_tratado.csv', index=False)
df_2022.to_csv('202201_202309_tratado.csv', index=False)

# Filtro colunas e Rename

In [24]:
df_2012_colunas_filtradas = df_2012[['SEXO','IDADE', 'DIAG_PRINC', 'diag_princ', 'descricao', 'DESCRICAO', 'VAL_TOT', 'VAL_SH', 'VAL_SP', 'MORTE', 'ANO_CMPT', 'MES_CMPT']]
new_column_names_2012 = {'DIAG_PRINC': 'diag_princ_3', 'diag_princ': 'diag_princ_4', 'DESCRICAO': 'sub_categoria', 'ANO_CMPT': 'ANO', 'MES_CMPT': 'MES'}
df_2012_colunas_filtradas.rename(columns=new_column_names_2012, inplace=True)
df_2012_colunas_filtradas.to_csv('201201_201309_COLUNAS_FILTRADAS.csv', index=False)


df_2022_colunas_filtradas = df_2022[['SEXO','IDADE', 'DIAG_PRINC', 'diag_princ', 'descricao', 'DESCRICAO', 'VAL_TOT', 'VAL_SH', 'VAL_SP', 'MORTE', 'ANO_CMPT', 'MES_CMPT']]
new_column_names_2022 = {'DIAG_PRINC': 'diag_princ_3', 'diag_princ': 'diag_princ_4', 'DESCRICAO': 'sub_categoria', 'ANO_CMPT': 'ANO', 'MES_CMPT': 'MES'}
df_2022_colunas_filtradas.rename(columns=new_column_names_2022, inplace=True)
df_2022_colunas_filtradas.to_csv('202201_202309_COLUNAS_FILTRADAS.csv', index=False)

C:\Users\luizjr\AppData\Local\Temp\ipykernel_5644\1880450529.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2012_colunas_filtradas.rename(columns=new_column_names_2012, inplace=True)
C:\Users\luizjr\AppData\Local\Temp\ipykernel_5644\1880450529.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022_colunas_filtradas.rename(columns=new_column_names_2022, inplace=True)

# Concatenar 2 períodos em uma base só

In [ ]:
path_geral = 'C:\\Users\\luizjr\\REPOS\\data_sus\\'

arquivos_total = []
filename_2012 = path_geral+'201201_201309_COLUNAS_FILTRADAS.csv'
filename_2022 = path_geral+'202201_202309_COLUNAS_FILTRADAS.csv'

dados = pd.read_csv(filename_2012, delimiter=',', encoding='utf-8')
arquivos_total.append(dados)

dados = pd.read_csv(filename_2022, delimiter=',', encoding='utf-8')
arquivos_total.append(dados)

arquivo_geral = pd.concat(arquivos_total)
arquivo_geral.to_csv('arquivo_geral.csv', index=False)

In [ ]:
# df_2012_colunas_filtradas
# df_2012_colunas_filtradas = df_2012_colunas_filtradas[df_2012_colunas_filtradas['DIAG_PRINC'].str[0] == 'B']
# df_2012_colunas_filtradas = df_2012_colunas_filtradas[df_2012_colunas_filtradas['DIAG_PRINC'].str[1] == '1']
# df_2012_colunas_filtradas = df_2012_colunas_filtradas[df_2012_colunas_filtradas['DIAG_PRINC'].str[2] == '6']
# df_2012_colunas_filtradas
# df_2012_colunas_filtradas.to_csv('1201_1309_COLUNAS_FILTRADAS.csv', index=False)





# TESTANDO GRÁFICO DE DOENÇAS QUE MAIS MATARAM

# testandu = df_2012_colunas_filtradas[df_2012_colunas_filtradas['MORTE'] == 1]
# testandu = testandu.groupby("descricao")['MORTE'].count()
# testandu = testandu.sort_values(ascending=False)
# # testandu

# from matplotlib import pyplot as plt

# import matplotlib.pyplot as plt 
# plt.bar(testandu.index, testandu)

# plt.xlabel("Descrição")
# plt.ylabel("Contagem de Morte")
# plt.title("CONTAGEM DE MORTE POR DESCRIÇÃO")
# plt.xticks(rotation=90)

# for i, value in enumerate(testandu):
#     plt.text(i, value + 0.1, str(value), ha='center', va='bottom')
    
# plt.show()
# print(testandu)